
<body>
   <div class="navbar">
  <a href="/Dashboard">Dashboard</a>
  <a href="/login">Login</a>
  <Br></Br>
  <span class="title">BlogStarzz</span>
 <div class="View-Dashboard">
            <h1>Welcome to Blogstarzz, this is a application for which users can create and connect with other Blogstarzz by posting Blogs, or commenting on other blogs if you have a opinon to share, keeping us connected by being able to reach news within a couple scrolls</h1>

        </div>
  

 </body>