    <nav>
    <div class="navbar">
    <a href="/Dashboard">Dashboard</a>
    <button class="no-button" id="logout">logout</button>
    </nav>

    <body>
        <div class="View-Dashboard">

            <h1>Welcome to Blogstarzz {{name}}!</h1>
        </div>
        <div class="blogPost">
            <h2 class="blog-post-title">{{ title }}</h2>
            <p class="blog-post-meta">
                Created by {{ author }}
            </p>
            <div class="blog-post-content">
               <h1> {{ content }}</h1>
               <button  id="makeComment">comment</button>
            </div>
        </div>

        <script src="/js/logout.js"></script>
    </body>