<nav>
    <h1>Log into Blogstarzz!!</h1>
</nav>

<body>
     <div class="forms-container">
        <div class="login-form">
            <link rel="stylesheet" href="css/{{style}}">
            <form action="/api/allUserRoutes/login" method="post">
                <label for="login-name">Username:   </label>
                <input type="name" id="name" name="name" required>
                  <br><hr>
                <label for="login-password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <hr>
                <button type="submit">Login</button>
                <br><h3>not registered??</h3>
                <a href="/signup"> Register Now</a>
            </form>
        </div>
    
</div>
</body>