<body>
     <div class="forms-container">
        <div class="login-form">
            <h2>Login</h2>
            <form action="/api/allUserRoutes/login" method="post">
                <label for="login-name">Username:   </label>
                <input type="name" id="name" name="name" required>
                <label for="login-password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <button type="submit">Login</button>
                <br><h2>not registered??</h2>
                <a href="/signup"> Register Now</a>
            </form>
        </div>
    
</div>
</body>