    <div class="signup-form">
            <h2>Sign Up</h2>
            <form action="/signup" method="post">
                 <label for="name">Username:   </label>
                <input type="name" id="name" name="name" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <button type="submit" id="Su-Submit">Sign Up</button>
            </form>
            <a href="/api/login">Log in</a>
        </div>
    </div>
</body>
<script src="/js/signup.js"></script>