    <nav>
    <h1>Sign-up for Blogstarzz!!</h1>
</nav>
    <div class="backroundof-form">
    <div class="signup-form">
            <form action="/api/allUserRoutes/signup" method="post">
                 <label for="name">Username:   </label>
                <input type="name" id="name" name="name" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <button type="submit" id="Su-Submit">Sign Up</button>
            </form>
            <h3>Already a member??</h3> 
            <a href="/login">Log in</a>
           
        </div>
    </div>
    </div>
</body>
